[run]
source = rlog_generator/

[report]
omit = rlog_generator/version.py

exclude_lines =
    pragma: no cover
    except OSError
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
